/* The title section  */
body {
  background-color: #D3D3D3;
}

/* The First Section  */
#winner_section {
  text-align: center;
  font-size: 8rem;

}

#second_section {
  text-align: center;

}
#refresh {
  color: red;
  font-size: 2rem;
  border: 0.2rem solid black;






}
.buttonmargins {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  text-align: center;
  display: block;
}

/* The Player's section */

.players {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  text-align: center;
}

/* The Player's section */
#dice_section {
  background-color: black
  ;
}

.Dice_player_parent {
text-align: center;
}

.Dice_player_child {
  display: inline-block;
}

.players {
  margin-top: 0.5rem;
  margin-bottom:0rem;
  color: white;
  font-size: 5rem;


  text-align: center;
}

.image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* The footer Section */
#footer_section {
  /* background-color: #C0C0C0; */
}

.footer {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  text-align: center;
}
