/* The title section  */
body {}

/* The Top Section  */
#top_section {
  background-color: #C0C0C0;
}

.buttonmargins {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  text-align: center;
  display: block;
}

/* The Player's section */
#players_section {
  background-color: #D3D3D3;
}

.players {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  text-align: center;
}

/* The Player's section */
#dice_section {
  background-color: black;
  ;
}

.image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

/* The footer Section */
#footer_section {
  background-color: #C0C0C0;
}

.footer {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  text-align: center;
}
